#tasks-table * {
  box-sizing: border-box;
}
#tasks-table h2 {
  letter-spacing: 0.5px;
  font-size: 22px;
}
#tasks-table table {
  table-layout: fixed;
  border: 1px solid #36454f;
  border-radius: 6px;
  display: block;
  width: 500px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
#tasks-table thead {
  border-bottom: 1px solid #36454f;
  width: 100%;
  text-align: left;
}
#tasks-table body {
  width: 100%;
}
#tasks-table th,
#tasks-table td {
  padding: 10px;
}
#tasks-table th:nth-child(1),
#tasks-table td:nth-child(1) {
  width: 25%;
}
#tasks-table th:nth-child(2),
#tasks-table td:nth-child(2) {
  width: 51%;
}
#tasks-table th:nth-child(3),
#tasks-table td:nth-child(3),
#tasks-table th:nth-child(4),
#tasks-table td:nth-child(4) {
  padding: 10px 5px;
  width: 12.5%;
  text-align: center;
}

#tasks-table td button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  box-shadow: 2px 2px 2px #c0c0c0;
}
